body{
	background-color:#f3f3f3;
}
ul li{
	list-style: none;
}
.coming_meeting span{
	color:#9b9b9b;
}
.coming_meeting .title{
	position:relative;
}
.coming_meeting .title a{
	position:absolute;
	top:40px;
	right:20px;
	display: inline-block;
	padding:5px 8px;
	color:#fff;
	background: #969696;
}
.coming_meeting ul li {
	list-style: none;
	width:370px;
	height:210px;
	float: left;
	margin:0 15px 30px 15px;
	/*ie6*/
	_margin:0 10px 60px 10px;
}
.coming_meeting ul li a{
	/*float:left;*/
	border:1px solid #bee1e7;
	background: #e8f3f5;
	width:370px;
	height:210px;
	display: block;
	position:relative;

	
}
.coming_meeting .meeting_content{
	padding:20px 15px;
}
.coming_meeting .meeting_content span{
	position: absolute;
	top:2px;
	right:2px;
	background: url('m_03.png') no-repeat;
	width:36px;
	height:36px;
}
.coming_meeting .meeting_content h4,.coming_meeting .meeting_content p{
	width:195px;
}
.meeting_main .main_left{
	width:786px;
	/*_width:700px;*/
}
.meeting_main .main_left .title{
	position:relative;
}
.meeting_main .main_left .title  h1{
	border-bottom: 1px solid #ebebeb;
}
.meeting_main .main_left .title a{
	position:absolute;
	top:40px;
	right:20px;
	display: inline-block;
	padding:5px 8px;
	color:#fff;
	background: #969696;
}
.meeting_main .main_left .m_newslist li{
	width:753px;
	position: relative;
	border-bottom:1px dashed #ededed;
}
.meeting_main .main_left .m_newslist li a{
	display:block;
	padding:8px 0 8px 20px;
	color:#303030;
	width:540px;
	/*_width:600px;*/
	overflow: hidden;
  	word-break:break-all;
  	text-overflow:ellipsis;
  	white-space:nowrap;
}
.meeting_main .main_left .m_newslist li a span{
	position:absolute;
	top:8px;
	right:10px;
	color:#9b9b9b;
}
.meeting_main .main_left .m_newslist li a i{
	display:inline-block;
	position: absolute;
	top:14px;
	left:4px;
	background: url('m_17.png') no-repeat;
	width:10px;
	height:10px;
}
.meeting_main .main_right .reg_member{
	line-height: 84px;
	padding-left:140px;
	display: block;
	position:relative;
	background:#d49866;
	width:246px;
}
.meeting_main .main_right .reg_member span{
	display: inline-block;
	width:50px;
	height:60px;
	position: absolute;
	top:15px;
	left:46px;
}
.meeting_main .main_right .omember{
	background:#d49866;
}
.meeting_main .main_right .omember span{
	background: url('m_11.png') no-repeat;
	_background: url('m_11.gif') no-repeat;
}
.meeting_main .main_right .member{
	background:#9ac985;
}
.meeting_main .main_right .member span{
	background: url('m_14.png') no-repeat;
	_background: url('m_14.gif') no-repeat;
}